body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

h1,
h2 {
  color: #777777;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

p {
  text-align: center;
  color: #888888;
}

.chat {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.msg {
  text-align: left;
  padding: 15px;
  border-radius: 15px;
}

.msg-1 {
  background-color: #cce7ea;
  border-bottom-left-radius: 0px;
}
.msg-2 {
  background-color: #e7d5c6;
  border-bottom-right-radius: 0px;
}
